{{define "Sports"}}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Sports Leagues Championship Games</title>
</head>
<body>
    <center>
        <h2>Sports Championship Games</h2>
        <table border="1">
            <thead>
                <tr>
                    <td>Sport</td>
                    <td>Championship Game</td>
                </tr>
            </thead>
            <tbody>
                {{range .}}
                <tr>
                    <td>{{.Sport}}</td>
                    <td>{{.Championship}}</td>
                </tr>
                {{end}}
            </tbody>
        </table>
    </center>
</body>
</html>
{{end}}
