{{define "SECConference"}}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>NCAA Southeastern Conference</title>
</head>
<body>
    <center>
        <h1>NCAA Southeastern Conference (host 8103)</h1> <!-- port number -->
        <table border="1">
            <thead>
                <tr>
                    <th>School</th>
                    <th>Mascot</th>
                    <th>Location</th>
                    <th>Division</th>
                </tr>
            </thead>
            <tbody>
                {{range .}}
                <tr>
                    <td>{{.School}}</td>
                    <td>{{.Mascot}}</td>
                    <td>{{.City}}, {{.State}}</td> <!-- Location -->
                    <td>{{.Division}}</td>
                </tr>
                {{end}}
            </tbody>
        </table>
    </center>
</body>
</html>
{{end}}
